.vscode/
Winner Emeto Google Analytics Certification/
Winner Emeto promotion folder/
predicting production from a well in a brownfield/.ipynb_checkpoints
predicting production from a well in a brownfield/~$Brownfield_Data.xlsx